*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    display: flex;
    
    align-items: center;    
    flex-direction: column;
    min-height: 100vh;
}

button.start{
    margin: 3vh;
    border:0;
    padding: 2vh;
    text-transform: uppercase;
    cursor: pointer;

}

div.chessboard{
    
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;


    div{
        flex-basis: 12.5%;
        height:  12.5%;   
        overflow: hidden;           
        background-color: white;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;

        div.pawn{           
            border-radius: 50%;    
            flex-basis: 80%;
            height: 80%;
            cursor: pointer;
            border: white solid 2px;
            &.black{
                background-color: #4d0000;
                
            }
            &.white{
                background-color: #adad85;
                
            }
            &.active
            {
                border-color: yellow;
            }
           
        }
        &.black{
            background-color: black;
        }
    }
}

@media only screen and (orientation:portrait)
{
    div.chessboard{

        width: 40vh;
        height: 40vh;
    }

}